<style>
 .rendered_html img {margin-left: 0 !important;} 
 .rendered_html table {margin-left: 0 !important;}  
</style>

<img src="https://www.noroff.no/images/logo/noroff-logo216x65.png"/>

<img style="height:425px !important" src="https://i.imgur.com/YlfxtAY.jpg">

## For loops

In [1]:
"""
**Name:** Writing your first program
**Author:** Alexander Bj√∏rnsrud
**Created:** 2018-09-21
**ID:** xxxxxxxx
"""



fruits = [
    "Apple", "Banana","Orange"
]

for fruit in fruits:
    print(fruit)

Apple
Banana
Orange

In [3]:
"""
For loop with zip and numbers

.. note:: Zip allow us to take two objects and combine them so that we can unpack them later.
"""

for fruit,number in zip(fruits, range(len(fruits))):
    print("Fruit Number",number,":",fruit)

Fruit Number 0 : Apple
Fruit Number 1 : Banana
Fruit Number 2 : Orange

In [1]:
"""
Using Range

.. note:: Range gives us a generator generating numbers between 0 and arg 1 or arg 0 and arg 1. 
.. warning:: Range only increments until arg 1, meaning that we will get one less number than arg 1
"""

a = range(10,20)
print(type(a))
print(a)
for i in a:
    print(i, end=" ")

<class 'range'>
range(10, 20)
10 11 12 13 14 15 16 17 18 19

In [12]:
for i in range(100):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [13]:
for i in range(0,100,10):
      print(i, end=" ")

0 10 20 30 40 50 60 70 80 90

In [2]:
"""
Calculate Celcius to Farenheight

.. note:: here range takes arg 2 as an increment value, and therefore we decrement by 5 degrees.

+------------+--------------+
| Celsius    | Farneheight  |
+============+==============+
| 10         | 50           |
+------------+--------------+
| 5          | 41           |
+------------+--------------+
| 0          | 41           |
+------------+--------------+ 
| -5         | 23           |
+------------+--------------+

"""

for number in range(10,-10,-5):
    print("Celcius",number,"is Farenheight",number*(9/5)+32)

Celcius 10 is Farenheight 50.0
Celcius 5 is Farenheight 41.0
Celcius 0 is Farenheight 32.0
Celcius -5 is Farenheight 23.0

## Nested Loops

In [6]:
"""
We can use loops within loops.

.. note:: This function only prints more than 5! if the outer counter is greater than 5.
.. warning:: the while loops require that we define the variables manually.
"""

i = 0

while i < 10:  #First this will run
    print(i)
    i += 1
    n = i
    while n < 10: #On every run of the previous loop this loop wil run
        if i > 5: #if greater than 5 we print the message. 
            print("More than 5!")
        n += 1

0
1
2
3
4
5
More than 5!
More than 5!
More than 5!
More than 5!
6
More than 5!
More than 5!
More than 5!
7
More than 5!
More than 5!
8
More than 5!
9

In [28]:
"""
Since ranges are an object, we can put them in a list.

.. note:: i have set end=" " to hinder print in printing evty number on a new line.
"""

a = (
    range(10,100),
    range(10,100),
    range(10,100),
    range(10,100)
)

for i in a:
    print("-"*100) # Prints the devider
    for n in i:
        print(n,end=" ")
        
    print("\n")

----------------------------------------------------------------------------------------------------
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

----------------------------------------------------------------------------------------------------
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

----------------------------------------------------------------------------------------------------
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

----------------------------------------------------------------------------------------------------
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [7]:
"""
WE can use break to exit loops when a condition is met.

.. warning:: when using while: True the loop will run fi
"""

i = 5

while True:
    print(i)
    if i == 20:break
    n = 3
    while True:
            print(n, end=" ")
            if n == 10:break
            n+=1
    i+=1

5
3 4 5 6 7 8 9 10 6
3 4 5 6 7 8 9 10 7
3 4 5 6 7 8 9 10 8
3 4 5 6 7 8 9 10 9
3 4 5 6 7 8 9 10 10
3 4 5 6 7 8 9 10 11
3 4 5 6 7 8 9 10 12
3 4 5 6 7 8 9 10 13
3 4 5 6 7 8 9 10 14
3 4 5 6 7 8 9 10 15
3 4 5 6 7 8 9 10 16
3 4 5 6 7 8 9 10 17
3 4 5 6 7 8 9 10 18
3 4 5 6 7 8 9 10 19
3 4 5 6 7 8 9 10 20